Repository Giftedx/bot, changes with the owners that .github/CODEOWNERS names for each.
All owners: @project-maintainer, @bot-core-team, @osrs-team, @media-team, @qa-team, @devops-team, @monitoring-team, @docs-team, @security-team, @database-team, @type-team, @performance-team, @dev-tools-team, @python-team

Add bot_analysis.json and bot_analysis.md to .gitignore
  .gitignore
Owners: @project-maintainer

Refactor code structure for enhanced readability and maintainability
  cogs/fun_commands.py
Owners: @python-team

Refactor project scope and documentation to reflect expanded bot capabilities
  LICENSE
  README.md
  bot.py
  cogs/admin.py
  cogs/fun.py
  cogs/media.py
  config.yaml
  game_systems.py
  implementation_plan.md
  plex_integration.py
  requirements.txt
  schema.sql
Owners: @project-maintainer, @docs-team, @python-team, @security-team

Initial commit: Discord bot with OSRS, Pokemon, and Plex integration
  .gitignore
Owners: @project-maintainer

Update README.md to reflect new features and project structure for Media Server Bot with OSRS integration
  README.md
Owners: @docs-team

fix: Dockerfile to reduce vulnerabilities
  Dockerfile
Owners: @devops-team

chore: update environment variable examples
  .env.example
Owners: @security-team

feat: add economy system with balance management and transfer commands
  .env
  cogs/battle_system.py
  cogs/fun_commands.py
  cogs/game_commands.py
  cogs/help_command.py
  cogs/osrs_commands.py
  cogs/pet_commands.py
  cogs/pet_core.py
  cogs/pokemon_commands.py
  notes/repo-list.md
  src/core/base_cog.py
  src/core/base_discord_client.py
  src/core/battle_manager.py
  src/core/battle_rewards.py
  src/core/battle_state_manager.py
  src/core/battle_system.py
  src/core/command_processor.py
  src/core/economy.py
  src/core/economy_final.py
  src/core/economy_temp.py
  src/core/experience.py
  src/core/type_system.py
  src/osrs/battle_system.py
  src/pets/battle_system.py
  src/pokemon/battle_system.py
  src/utils/__init__.py
  src/utils/error_handler.py
Owners: @project-maintainer, @python-team, @docs-team

deps: update Python dependencies to latest versions - pip(25.0.1), certifi(2025.1.31), chardet(5.2.0), idna(3.10), python-dotenv(1.0.1), urllib3(2.3.0), requests(2.32.3), setuptools(75.8.0)
  requirements.txt
Owners: @security-team, @project-maintainer

fix: requirements.txt to reduce vulnerabilities
  requirements.txt
Owners: @security-team, @project-maintainer

fix: requirements-dev.txt to reduce vulnerabilities
  requirements-dev.txt
Owners: @security-team, @project-maintainer

Update OSRS game mechanics and data management
  .venv/Scripts/python.exe
  .venv/Scripts/python3.dll
  .venv/Scripts/python37.dll
  .venv/Scripts/pythonw.exe
  .venv/Scripts/rst2html.py
  .venv/Scripts/rst2html4.py
  .venv/Scripts/rst2html5.py
  .venv/Scripts/rst2latex.py
  .venv/Scripts/rst2man.py
  .venv/Scripts/rst2odt.py
  .venv/Scripts/rst2odt_prepstyles.py
  .venv/Scripts/rst2pseudoxml.py
  .venv/Scripts/rst2s5.py
  .venv/Scripts/rst2xetex.py
  .venv/Scripts/rst2xml.py
  .venv/Scripts/rstpep2html.py
  .venv/Scripts/sphinx-apidoc.exe
  .venv/Scripts/sphinx-autogen.exe
  .venv/Scripts/sphinx-build.exe
  .venv/Scripts/sphinx-quickstart.exe
  .venv/Scripts/sqlite3.dll
  .venv/Scripts/stubgen.exe
  .venv/Scripts/stubtest.exe
  .venv/Scripts/symilar.exe
  .venv/Scripts/tcl86t.dll
  .venv/Scripts/tk86t.dll
  .venv/Scripts/undill
  .venv/Scripts/vcruntime140.dll
  .venv/Scripts/virtualenv.exe
  .venv/pip-selfcheck.json
  .venv/pyvenv.cfg
  changes.patch
Owners: @project-maintainer, @python-team, @devops-team

Remove .venv directory from git tracking
  .venv/Scripts/python.exe
  .venv/Scripts/python3.dll
  .venv/Scripts/python37.dll
  .venv/Scripts/pythonw.exe
  .venv/Scripts/rst2html.py
  .venv/Scripts/rst2html4.py
  .venv/Scripts/rst2html5.py
  .venv/Scripts/rst2latex.py
  .venv/Scripts/rst2man.py
  .venv/Scripts/rst2odt.py
  .venv/Scripts/rst2odt_prepstyles.py
  .venv/Scripts/rst2pseudoxml.py
  .venv/Scripts/rst2s5.py
  .venv/Scripts/rst2xetex.py
  .venv/Scripts/rst2xml.py
  .venv/Scripts/rstpep2html.py
  .venv/Scripts/sphinx-apidoc.exe
  .venv/Scripts/sphinx-autogen.exe
  .venv/Scripts/sphinx-build.exe
  .venv/Scripts/sphinx-quickstart.exe
  .venv/Scripts/sqlite3.dll
  .venv/Scripts/stubgen.exe
  .venv/Scripts/stubtest.exe
  .venv/Scripts/symilar.exe
  .venv/Scripts/tcl86t.dll
  .venv/Scripts/tk86t.dll
  .venv/Scripts/undill
  .venv/Scripts/vcruntime140.dll
  .venv/Scripts/virtualenv.exe
  .venv/pip-selfcheck.json
  .venv/pyvenv.cfg
Owners: @project-maintainer, @python-team, @devops-team

fix: requirements.txt to reduce vulnerabilities
  requirements.txt
Owners: @security-team, @project-maintainer

GITBOOK-1: No subject
  .github/README.md
  SUMMARY.md
  docs/architecture-1/README.md
  docs/commands/README.md
  docs/configuration/README.md
  docs/deployment-1/README.md
  docs/development-1/README.md
  docs/guides/README.md
  docs/guides/documentation/README.md
  docs/installation/README.md
  docs/project/README.md
  docs/systems/README.md
  docs/templates/README.md
  docs/troubleshooting/README.md
  notes/README.md
  security/README.md
  src/README.md
  src/data/README.md
  task-manager/README.md
  task-manager/backend/README.md
  task-manager/backend/venv/README.md
  task-manager/backend/venv/lib/README.md
  task-manager/backend/venv/lib/site-packages/README.md
  task-manager/backend/venv/lib/site-packages/werkzeug/README.md
  task-manager/backend/venv/lib/site-packages/werkzeug/debug/README.md
  task-manager/backend/venv/lib/site-packages/werkzeug/debug/shared/README.md
  unique_osrs_code/data/README.md
Owners: @docs-team

feat: upgrade react from 18.3.1 to 19.0.0
  collaborative-editor/frontend/package.json
Owners: @devops-team

feat: upgrade react-dom from 18.3.1 to 19.0.0
  collaborative-editor/frontend/package.json
Owners: @devops-team

feat: upgrade web-vitals from 2.1.4 to 4.2.4
  collaborative-editor/frontend/package.json
Owners: @devops-team

feat: upgrade react from 18.3.1 to 19.1.0
  collaborative-editor/frontend/package.json
Owners: @devops-team

feat: upgrade react-dom from 18.3.1 to 19.1.0
  collaborative-editor/frontend/package.json
Owners: @devops-team

Update src/core/config.py
  src/core/config.py
Owners: @python-team

feat: upgrade web-vitals from 2.1.4 to 5.0.1
  collaborative-editor/frontend/package.json
Owners: @devops-team

Fix critical bugs in config, database, and exception handling
  BUGFIXES.md
  pyproject.toml
  src/application.py
  src/core/config.py
  src/core/exceptions.py
  src/core/unified_database.py
  src/database/models.py
Owners: @docs-team, @security-team, @project-maintainer, @python-team

Fix critical bugs in config, database, and model components
  BUGFIXES.md
  src/core/config.py
  src/core/unified_database.py
Owners: @docs-team, @python-team

Refactor project structure, add setup scripts, and update dependencies
  Makefile
  config/secrets.yaml
  docs/INDEX.md
  pyproject.toml
  setup_env.py
  src/app/__init__.py
  src/app/interactions/__init__.py
  src/core/models/__init__.py
  src/core/models/pet.py
  src/core/models/player.py
  src/integrations/plex_player.py
  tests/test_core_functionality.py
  verify_deployment.py
Owners: @project-maintainer, @docs-team, @security-team, @python-team

Refactor project structure, update dependencies, and add health endpoint
  LICENSE
  Makefile
  README.md
  mkdocs.yml
  pyproject.toml
  setup.py
  src/core/models.py
  src/core/models/__init__.py
  src/main.py
  tsconfig.json
Owners: @project-maintainer, @docs-team, @devops-team, @security-team, @python-team

Refactor project structure, update docs, and add comprehensive test tracking issue
  .github/ISSUE_TEMPLATE/failing-tests.md
  README.md
  SUMMARY.md
  requirements-dev.txt
Owners: @docs-team, @security-team, @project-maintainer

Update src/main.py
  src/main.py
Owners: @python-team

Update src/main.py
  src/main.py
Owners: @python-team

Update src/main.py
  src/main.py
Owners: @python-team

Update CI workflow to handle missing requirements-dev.txt file
  .github/workflows/ci.yml
Owners: @devops-team

Update .github/workflows/ci.yml
  .github/workflows/ci.yml
Owners: @devops-team

Update ruff linting command to use 'check' subcommand
  .github/workflows/ci.yml
Owners: @devops-team

Disable git submodules in CI checkout step
  .github/workflows/ci.yml
Owners: @devops-team

Refactor CI workflow, add dev dependencies, and simplify secrets test
  .github/workflows/ci.yml
  pyproject.toml
  tests/test_secrets.py
Owners: @devops-team, @security-team, @project-maintainer, @python-team

Refactor core modules, improve DI, add new models and utility classes
  src/bot/cogs/media_commands.py
  src/bot/plex_selfbot.py
  src/core/battle_database.py
  src/core/battle_manager.py
  src/core/di_container.py
  src/core/error_manager.py
  src/core/exceptions.py
  src/core/models/osrs_data.py
  src/core/models/trade.py
  src/core/plex.py
  src/core/queue_manager.py
  src/core/rate_limiter.py
  src/data/__init__.py
  src/models/__init__.py
  src/osrs/__init__.py
  src/osrs/core/world_manager.py
  src/osrs/models/__init__.py
Owners: @python-team

Refactor OSRS commands, add world management, and improve test infrastructure
  src/bot/cogs/media_commands.py
  src/bot/cogs/osrs_commands.py
  src/bot/plex_selfbot.py
  src/core/di_container.py
  src/core/error_manager.py
  src/core/exceptions.py
  src/core/models/trade.py
  src/core/plex.py
  src/osrs/core/world_manager.py
  src/osrs/models/__init__.py
  tests/test_osrs_commands.py
Owners: @python-team

Refactor OSRS commands, add world management, and improve test infrastructure (#42)
  src/bot/cogs/media_commands.py
  src/bot/cogs/osrs_commands.py
  src/bot/plex_selfbot.py
  src/core/di_container.py
  src/core/error_manager.py
  src/core/exceptions.py
  src/core/models/trade.py
  src/core/plex.py
  src/osrs/core/world_manager.py
  src/osrs/models/__init__.py
  tests/test_osrs_commands.py
Owners: @python-team

Update src/osrs/models/__init__.py
  src/osrs/models/__init__.py
Owners: @python-team

Update src/core/plex.py
  src/core/plex.py
Owners: @python-team

.github/CODEOWNERS:

# CODEOWNERS file
#
# This file defines who is responsible for reviewing changes to different parts of the codebase.
# For more information, see: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Default owners for everything in the repo
# These users will be requested for review when someone opens a pull request
* @project-maintainer

# Bot core functionality
/src/bot/ @bot-core-team
/src/core/ @bot-core-team
/src/utils/ @bot-core-team

# OSRS specific functionality
/src/osrs/ @osrs-team
/src/bot/cogs/osrs_commands.py @osrs-team

# Media playback functionality
/src/bot/cogs/media_commands.py @media-team
/src/core/audio_manager.py @media-team

# Testing
/tests/ @qa-team
/tests/integration/ @qa-team @devops-team

# Infrastructure and deployment
/deploy/ @devops-team
/docker-compose*.yml @devops-team
/Dockerfile* @devops-team
/.github/workflows/ @devops-team

# Monitoring and metrics
/prometheus/ @monitoring-team
/grafana/ @monitoring-team
/src/core/metrics.py @monitoring-team

# Documentation
/docs/ @docs-team
/*.md @docs-team
/.github/ISSUE_TEMPLATE/ @docs-team

# Configuration files
/pyproject.toml @project-maintainer
/setup.py @project-maintainer
/setup.cfg @project-maintainer
/requirements*.txt @project-maintainer

# Security-sensitive files
/src/core/config.py @security-team
/.env.example @security-team
/security/ @security-team

# GitHub specific files
/.github/ @project-maintainer
/.github/workflows/ @devops-team @project-maintainer

# Database
/src/database/ @database-team
/alembic/ @database-team

# Type definitions
/src/**/py.typed @type-team
/**/*.pyi @type-team

# Performance critical code
/src/core/backpressure.py @performance-team
/src/utils/performance.py @performance-team
/src/core/caching.py @performance-team

# Dependencies
/requirements*.txt @security-team @project-maintainer
/pyproject.toml @security-team @project-maintainer

# CI/CD
/.github/workflows/ @devops-team
/.pre-commit-config.yaml @devops-team

# Development tools
/.vscode/ @dev-tools-team
/.editorconfig @dev-tools-team
/scripts/ @dev-tools-team

# Multiple owners for critical files
/src/main.py @project-maintainer @bot-core-team
/src/bot/core/bot.py @project-maintainer @bot-core-team
/src/core/config.py @project-maintainer @security-team

# Specific file types
*.py @python-team
*.yml @devops-team
*.json @devops-team
*.md @docs-team

# Prevent certain files from being modified without explicit approval
/LICENSE @project-maintainer
/SECURITY.md @security-team
/CODE_OF_CONDUCT.md @project-maintainer
