Repository Giftedx/bot, changes with the labels that .github/labeler.yml gives for each.
All labels: bot, osrs, media, documentation, testing, infrastructure, monitoring, config, dependencies, security, database, performance, ci, dev-tools, types, maintenance, core, utils, api, frontend, experimental

Add bot_analysis.json and bot_analysis.md to .gitignore
  .gitignore
Labels: none

Refactor code structure for enhanced readability and maintainability
  cogs/fun_commands.py
Labels: none

Refactor project scope and documentation to reflect expanded bot capabilities
  LICENSE
  README.md
  bot.py
  cogs/admin.py
  cogs/fun.py
  cogs/media.py
  config.yaml
  game_systems.py
  implementation_plan.md
  plex_integration.py
  requirements.txt
  schema.sql
Labels: documentation, config, dependencies

Initial commit: Discord bot with OSRS, Pokemon, and Plex integration
  .gitignore
Labels: none

Update README.md to reflect new features and project structure for Media Server Bot with OSRS integration
  README.md
Labels: documentation

fix: Dockerfile to reduce vulnerabilities
  Dockerfile
Labels: infrastructure

chore: update environment variable examples
  .env.example
Labels: config

feat: add economy system with balance management and transfer commands
  .env
  cogs/battle_system.py
  cogs/fun_commands.py
  cogs/game_commands.py
  cogs/help_command.py
  cogs/osrs_commands.py
  cogs/pet_commands.py
  cogs/pet_core.py
  cogs/pokemon_commands.py
  notes/repo-list.md
  src/core/base_cog.py
  src/core/base_discord_client.py
  src/core/battle_manager.py
  src/core/battle_rewards.py
  src/core/battle_state_manager.py
  src/core/battle_system.py
  src/core/command_processor.py
  src/core/economy.py
  src/core/economy_final.py
  src/core/economy_temp.py
  src/core/experience.py
  src/core/type_system.py
  src/osrs/battle_system.py
  src/pets/battle_system.py
  src/pokemon/battle_system.py
  src/utils/__init__.py
  src/utils/error_handler.py
Labels: bot, osrs, documentation, config, core, utils

deps: update Python dependencies to latest versions - pip(25.0.1), certifi(2025.1.31), chardet(5.2.0), idna(3.10), python-dotenv(1.0.1), urllib3(2.3.0), requests(2.32.3), setuptools(75.8.0)
  requirements.txt
Labels: dependencies

fix: requirements.txt to reduce vulnerabilities
  requirements.txt
Labels: dependencies

fix: requirements-dev.txt to reduce vulnerabilities
  requirements-dev.txt
Labels: dependencies

Update OSRS game mechanics and data management
  .venv/Scripts/python.exe
  .venv/Scripts/python3.dll
  .venv/Scripts/python37.dll
  .venv/Scripts/pythonw.exe
  .venv/Scripts/rst2html.py
  .venv/Scripts/rst2html4.py
  .venv/Scripts/rst2html5.py
  .venv/Scripts/rst2latex.py
  .venv/Scripts/rst2man.py
  .venv/Scripts/rst2odt.py
  .venv/Scripts/rst2odt_prepstyles.py
  .venv/Scripts/rst2pseudoxml.py
  .venv/Scripts/rst2s5.py
  .venv/Scripts/rst2xetex.py
  .venv/Scripts/rst2xml.py
  .venv/Scripts/rstpep2html.py
  .venv/Scripts/sphinx-apidoc.exe
  .venv/Scripts/sphinx-autogen.exe
  .venv/Scripts/sphinx-build.exe
  .venv/Scripts/sphinx-quickstart.exe
  .venv/Scripts/sqlite3.dll
  .venv/Scripts/stubgen.exe
  .venv/Scripts/stubtest.exe
  .venv/Scripts/symilar.exe
  .venv/Scripts/tcl86t.dll
  .venv/Scripts/tk86t.dll
  .venv/Scripts/undill
  .venv/Scripts/vcruntime140.dll
  .venv/Scripts/virtualenv.exe
  .venv/pip-selfcheck.json
  .venv/pyvenv.cfg
  changes.patch
Labels: none

Remove .venv directory from git tracking
  .venv/Scripts/python.exe
  .venv/Scripts/python3.dll
  .venv/Scripts/python37.dll
  .venv/Scripts/pythonw.exe
  .venv/Scripts/rst2html.py
  .venv/Scripts/rst2html4.py
  .venv/Scripts/rst2html5.py
  .venv/Scripts/rst2latex.py
  .venv/Scripts/rst2man.py
  .venv/Scripts/rst2odt.py
  .venv/Scripts/rst2odt_prepstyles.py
  .venv/Scripts/rst2pseudoxml.py
  .venv/Scripts/rst2s5.py
  .venv/Scripts/rst2xetex.py
  .venv/Scripts/rst2xml.py
  .venv/Scripts/rstpep2html.py
  .venv/Scripts/sphinx-apidoc.exe
  .venv/Scripts/sphinx-autogen.exe
  .venv/Scripts/sphinx-build.exe
  .venv/Scripts/sphinx-quickstart.exe
  .venv/Scripts/sqlite3.dll
  .venv/Scripts/stubgen.exe
  .venv/Scripts/stubtest.exe
  .venv/Scripts/symilar.exe
  .venv/Scripts/tcl86t.dll
  .venv/Scripts/tk86t.dll
  .venv/Scripts/undill
  .venv/Scripts/vcruntime140.dll
  .venv/Scripts/virtualenv.exe
  .venv/pip-selfcheck.json
  .venv/pyvenv.cfg
Labels: none

fix: requirements.txt to reduce vulnerabilities
  requirements.txt
Labels: dependencies

GITBOOK-1: No subject
  .github/README.md
  SUMMARY.md
  docs/architecture-1/README.md
  docs/commands/README.md
  docs/configuration/README.md
  docs/deployment-1/README.md
  docs/development-1/README.md
  docs/guides/README.md
  docs/guides/documentation/README.md
  docs/installation/README.md
  docs/project/README.md
  docs/systems/README.md
  docs/templates/README.md
  docs/troubleshooting/README.md
  notes/README.md
  security/README.md
  src/README.md
  src/data/README.md
  task-manager/README.md
  task-manager/backend/README.md
  task-manager/backend/venv/README.md
  task-manager/backend/venv/lib/README.md
  task-manager/backend/venv/lib/site-packages/README.md
  task-manager/backend/venv/lib/site-packages/werkzeug/README.md
  task-manager/backend/venv/lib/site-packages/werkzeug/debug/README.md
  task-manager/backend/venv/lib/site-packages/werkzeug/debug/shared/README.md
  unique_osrs_code/data/README.md
Labels: documentation, infrastructure, security

feat: upgrade react from 18.3.1 to 19.0.0
  collaborative-editor/frontend/package.json
Labels: none

feat: upgrade react-dom from 18.3.1 to 19.0.0
  collaborative-editor/frontend/package.json
Labels: none

feat: upgrade web-vitals from 2.1.4 to 4.2.4
  collaborative-editor/frontend/package.json
Labels: none

feat: upgrade react from 18.3.1 to 19.1.0
  collaborative-editor/frontend/package.json
Labels: none

feat: upgrade react-dom from 18.3.1 to 19.1.0
  collaborative-editor/frontend/package.json
Labels: none

Update src/core/config.py
  src/core/config.py
Labels: bot, core

feat: upgrade web-vitals from 2.1.4 to 5.0.1
  collaborative-editor/frontend/package.json
Labels: none

Fix critical bugs in config, database, and exception handling
  BUGFIXES.md
  pyproject.toml
  src/application.py
  src/core/config.py
  src/core/exceptions.py
  src/core/unified_database.py
  src/database/models.py
Labels: bot, documentation, config, dependencies, database, core

Fix critical bugs in config, database, and model components
  BUGFIXES.md
  src/core/config.py
  src/core/unified_database.py
Labels: bot, documentation, core

Refactor project structure, add setup scripts, and update dependencies
  Makefile
  config/secrets.yaml
  docs/INDEX.md
  pyproject.toml
  setup_env.py
  src/app/__init__.py
  src/app/interactions/__init__.py
  src/core/models/__init__.py
  src/core/models/pet.py
  src/core/models/player.py
  src/integrations/plex_player.py
  tests/test_core_functionality.py
  verify_deployment.py
Labels: bot, documentation, testing, config, dependencies, core

Refactor project structure, update dependencies, and add health endpoint
  LICENSE
  Makefile
  README.md
  mkdocs.yml
  pyproject.toml
  setup.py
  src/core/models.py
  src/core/models/__init__.py
  src/main.py
  tsconfig.json
Labels: bot, documentation, config, dependencies, database, core

Refactor project structure, update docs, and add comprehensive test tracking issue
  .github/ISSUE_TEMPLATE/failing-tests.md
  README.md
  SUMMARY.md
  requirements-dev.txt
Labels: documentation, infrastructure, dependencies

Update src/main.py
  src/main.py
Labels: none

Update src/main.py
  src/main.py
Labels: none

Update src/main.py
  src/main.py
Labels: none

Update CI workflow to handle missing requirements-dev.txt file
  .github/workflows/ci.yml
Labels: infrastructure, ci

Update .github/workflows/ci.yml
  .github/workflows/ci.yml
Labels: infrastructure, ci

Update ruff linting command to use 'check' subcommand
  .github/workflows/ci.yml
Labels: infrastructure, ci

Disable git submodules in CI checkout step
  .github/workflows/ci.yml
Labels: infrastructure, ci

Refactor CI workflow, add dev dependencies, and simplify secrets test
  .github/workflows/ci.yml
  pyproject.toml
  tests/test_secrets.py
Labels: testing, infrastructure, config, dependencies, ci

Refactor core modules, improve DI, add new models and utility classes
  src/bot/cogs/media_commands.py
  src/bot/plex_selfbot.py
  src/core/battle_database.py
  src/core/battle_manager.py
  src/core/di_container.py
  src/core/error_manager.py
  src/core/exceptions.py
  src/core/models/osrs_data.py
  src/core/models/trade.py
  src/core/plex.py
  src/core/queue_manager.py
  src/core/rate_limiter.py
  src/data/__init__.py
  src/models/__init__.py
  src/osrs/__init__.py
  src/osrs/core/world_manager.py
  src/osrs/models/__init__.py
Labels: bot, osrs, media, core

Refactor OSRS commands, add world management, and improve test infrastructure
  src/bot/cogs/media_commands.py
  src/bot/cogs/osrs_commands.py
  src/bot/plex_selfbot.py
  src/core/di_container.py
  src/core/error_manager.py
  src/core/exceptions.py
  src/core/models/trade.py
  src/core/plex.py
  src/osrs/core/world_manager.py
  src/osrs/models/__init__.py
  tests/test_osrs_commands.py
Labels: bot, osrs, media, testing, core

Refactor OSRS commands, add world management, and improve test infrastructure (#42)
  src/bot/cogs/media_commands.py
  src/bot/cogs/osrs_commands.py
  src/bot/plex_selfbot.py
  src/core/di_container.py
  src/core/error_manager.py
  src/core/exceptions.py
  src/core/models/trade.py
  src/core/plex.py
  src/osrs/core/world_manager.py
  src/osrs/models/__init__.py
  tests/test_osrs_commands.py
Labels: bot, osrs, media, testing, core

Update src/osrs/models/__init__.py
  src/osrs/models/__init__.py
Labels: osrs

Update src/core/plex.py
  src/core/plex.py
Labels: bot, core

.github/labeler.yml:

# Core bot functionality
'bot':
  - 'src/bot/**/*'
  - 'src/core/**/*'

# OSRS specific functionality
'osrs':
  - 'src/osrs/**/*'
  - 'src/bot/cogs/osrs_commands.py'

# Media functionality
'media':
  - 'src/bot/cogs/media_commands.py'
  - 'src/core/audio_manager.py'

# Documentation changes
'documentation':
  - 'docs/**/*'
  - '**/*.md'
  - '**/*.rst'
  - '**/docstring/**/*'

# Testing related changes
'testing':
  - 'tests/**/*'
  - 'pytest.ini'
  - '.coveragerc'
  - '**/test_*.py'

# Infrastructure changes
'infrastructure':
  - '.github/**/*'
  - 'deploy/**/*'
  - 'docker-compose*.yml'
  - 'Dockerfile*'
  - 'kubernetes/**/*'

# Monitoring and metrics
'monitoring':
  - 'prometheus/**/*'
  - 'grafana/**/*'
  - 'src/core/metrics.py'
  - 'src/core/health_monitor.py'

# Configuration changes
'config':
  - '*.toml'
  - '*.yml'
  - '*.yaml'
  - '*.ini'
  - '*.cfg'
  - '.env*'

# Dependencies
'dependencies':
  - 'requirements*.txt'
  - 'pyproject.toml'
  - 'setup.py'
  - 'setup.cfg'

# Security related changes
'security':
  - 'security/**/*'
  - '.github/workflows/security.yml'
  - 'src/core/security/**/*'
  - 'SECURITY.md'

# Database changes
'database':
  - 'src/database/**/*'
  - 'alembic/**/*'
  - '**/migrations/**/*'
  - 'src/**/models.py'

# Performance related changes
'performance':
  - 'src/core/backpressure.py'
  - 'src/utils/performance.py'
  - 'src/core/caching.py'
  - 'benchmarks/**/*'

# CI/CD changes
'ci':
  - '.github/workflows/**/*'
  - '.github/actions/**/*'
  - '.gitlab-ci.yml'
  - 'scripts/ci/**/*'

# Development tools
'dev-tools':
  - '.vscode/**/*'
  - '.idea/**/*'
  - '.editorconfig'
  - '.pre-commit-config.yaml'
  - 'scripts/dev/**/*'

# Type definitions
'types':
  - 'src/**/*.pyi'
  - 'src/**/py.typed'
  - 'typings/**/*'

# Size labels based on changes
'size/XS':
  - size-below: 10
'size/S':
  - size-below: 50
  - size-above: 10
'size/M':
  - size-below: 200
  - size-above: 50
'size/L':
  - size-below: 500
  - size-above: 200
'size/XL':
  - size-above: 500

# Maintenance
'maintenance':
  - '.github/workflows/cleanup.yml'
  - '.github/workflows/stale.yml'
  - 'scripts/maintenance/**/*'

# Core changes requiring careful review
'core':
  - 'src/core/**/*'
  - 'src/bot/core/**/*'
  - 'src/osrs/core/**/*'

# Utils and helpers
'utils':
  - 'src/utils/**/*'
  - 'scripts/utils/**/*'

# API related changes
'api':
  - 'src/api/**/*'
  - 'src/**/api/**/*'
  - 'docs/api/**/*'

# Frontend changes (if any)
'frontend':
  - 'frontend/**/*'
  - 'static/**/*'
  - 'templates/**/*'
  - '**/*.html'
  - '**/*.css'
  - '**/*.js'

# Experimental features
'experimental':
  - 'src/experimental/**/*'
  - 'tests/experimental/**/*'
